.header-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 24px;
  color: white;
}

.header-title:hover {
  color: #ffc300;
}

.navbar .navbar-menu-wrapper {
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
  background: #191c24 !important;
  width: 1200px !important;
  margin: 0 auto;
}

.input-group {
  width: 250px !important;
}

.logo-header {
  width: 100%;
  background: linear-gradient(135deg, #ffd600 0%, #ffc300 100%);
}

.logo-header .logo-title {
  color: #0057b7;
  font-size: 48px;
}

.logo-header .logo-image {
  color: white;
}

.box-logo-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=header.css.map */