.header-title{
    display: flex;
    float: left;
    justify-content: center;
    align-items: center;
    gap: 0 24px;
    color: white;
    &:hover{
        color: #ffc300;
    }
}
.navbar .navbar-menu-wrapper{
    justify-content: space-between !important;
    background: #191c24 !important;
    width: 1200px !important;
    margin: 0 auto;
}
.input-group{
    width: 250px !important;
}
.logo-header{
    width: 100%;
    
    background: linear-gradient(135deg,#ffd600 0%,#ffc300 100%);
.logo-title{
    color: #0057b7;
    font-size: 48px;
}
.logo-image{
   color: white;
}
}
.box-logo-header{
    display: flex;
}
