.title-payment{
    font-weight: 600;
    font-size: 18px;
    margin-top: 24px;
    line-height: 30px;
    border-bottom: 1px solid #000;
}
.box-payment{
    
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 0 20px;
}

.form{
    width: 100%;
    height: 48px;
    border: 1px solid black !important;
    border-radius: 6px;
   padding: 0 5px;
}

