.nav-all {
  background-color: #f6f7f6;
  padding-top: 2rem;
}
.title-ticket-flight {
  font-size: 2.165rem;
  text-shadow: none;
  color: #005f6e;
  line-height: 1.2;
  margin-bottom: 20px;
}
.nav-ticket-flight {
  display: flex;
  gap: 0 10px;
  .nav-left {
    width: 60%;
  }
  .nav-right {
    width: 40%;
  }
}
.note-box {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid black;
  .title {
    margin: 2px 0;
  }
}
.note-box-right {
  background-color: #fff;
  border-radius: 10px;

  border: 1px solid black;
  .title {
    margin: 2px 0;
  }

  .title-content {
    font-size: 24px;
    text-shadow: none;
    color: #005f6e;
    font-weight: 400;
    margin: 8px 0 8px 20px;
  }
  .flight-section {
    padding: 8px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    .flight-section-right {
      font-size: 18px;
      color: #005f6e;
      font-weight: 400;
    }
    .flight-section-left {
      display: flex;
      align-items: center;
      gap: 0 8px;
      color: #005f6e;
    }
  }
  .flight-section-note {
    .time-start {
      display: flex;
      gap: 0 10px;
      align-items: center;
      padding: 10px;
      background-color: #ffd600;
      .title {
        font-size: 16px;
        color: #005f6e;
      }
    }
    .person {
      display: flex;

      align-items: center;
      padding: 10px;
      justify-content: space-between;
      background-color: #ffd600;
    }
    .flight-section-detail {
      padding: 8px 20px;
      .flight {
        display: flex;
        align-items: center;
        gap: 0 8px;
        margin-bottom: 8px;
      }
      .time {
        display: flex;
        gap: 0 10px;
        margin-bottom: 8px;
      }
      .plane {
        display: flex;
        gap: 0 10px;
      }
    }
    .title {
      font-size: 16px;
      color: #005f6e;
    }
  }
  .price {
    padding: 8px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .price-all {
      font-size: 18px;
      font-weight: 700;
    }
    .price-in {
      font-size: 16px;
      color: #005f6e;
    }
  }
}
.box-content-section-ticket {
  border-radius: 10px;
  border: 1px solid black;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  background: #fff;
  .box-content-section-ticket-top {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    margin-bottom: 20px;
    .content {
      font-size: 1.33333rem;
      font-weight: 400;
      font-style: sans-serif;
    }
    .time{
      font-size: 1.33333rem;
      font-weight: 400;
    }
    .change{
      border: 1px solid #248afd;
      border-radius: 10px;
      padding: 12px;
    }
    .date-time-box {
      display: flex;
      gap: 0 20px;
      align-items: center;
    }
  }
  .box-content-section-ticket-under {
    display: flex;
    justify-content: space-between;

    .box-content-section-right {
      display: flex;
      gap: 0 20px;

      .trader {
        border-radius: 10px;
        padding: 10px;
        border: 1px solid #005f6e;

        .title {
          text-align: center;
        }
        .price {
          font-size: 20px;
          color: #005f6e;
          font-weight: 400;
          text-align: center;
          margin: 20px 50px;
        }
        .side-chair {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .bnt-reservations {
            border-radius: 4px;
            background-color: red;
          }
        }
      }
      .common {
        border-radius: 10px;
        padding: 10px;
        border: 1px solid #005f6e;

        .title {
          text-align: center;
        }
        .price {
          font-size: 20px;
          color: #005f6e;
          font-weight: 400;
          text-align: center;
          margin: 20px 50px;
        }
        .side-chair {
          display: flex;
          justify-content: space-between;
        }
      }
    }
    .box-content-section-center {
      display: flex;
      gap: 0 10px;
    }
    .box-content-section-left {
      .time-all {
        display: flex;
        gap: 0 10px;
        p {
          font-size: 18px;
          font-weight: bold;
        }
      }
      .detail-button {
        font-size: 18px;
        font-weight: 400;
        color: #248afd;
      }
      .journeys {
        display: flex;
        align-items: center;
        gap: 0 30px;
        margin-bottom: 20px;
        .time-go {
          font-size: 20px;
          font-weight: bold;
          color: #005f6e;
        }
        .dress {
          font-size: 20px;
        }
      }
    }
  }
}
.bnt-continue {
  float: right;
  font-size: 18px;
  margin-bottom: 30px;
  text-transform: uppercase;
  border-radius: 10px;
  padding: 5px 8px;
  color: #ffd600;
  border: 1px solid #ffd600;
  &:hover {
    background-color: #ffd600;
    color: #fff;
    transition: all 0.3s;
  }
}
.date-start {
  display: flex;
}
.detail{
  background: #ffd600;
  padding: 24px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
  .time-go{
    display: flex;
    gap:8px;
    .air{
      color: #000;
      font-size: 1rem;
      font-weight: bold;
    }
  
  }
  .airlinecompany{
    display: flex;
    gap:8px;
    .air{
      color: #000;
      font-size: 1rem;
      font-weight: bold;
    }
  }
  .airtype{
    display: flex;
    gap:8px;
    .air{
      color: #000;
      font-size: 1rem;
      font-weight: bold;
    }
  }
  .content-top-detail{
    display: flex;
    font-weight: 700;
    font-size: 1.333rem;
    color: #000;
    .city{
      margin-left: 10px;
    }
  }
}