.box-form-code{
    margin-top: 2rem;
    width: 100%;
    min-width: 1000px;
    padding: 20px;
    .title{
        font-size: 28px;
        font-weight: bold;
        line-height: 32px;
        border-bottom: 1px solid black;
        width: 200px;
        margin-bottom: 20px;
    }
}
.wrapper-action{
    display: flex;
    gap: 8px;
}
.ant-table {
    background: #ffffff;
    border-radius: 8px 8px 8px 8px;
    border: 1px solid #d5d3d0;
    .ant-table-tbody > tr > td {
      border: 1px solid #e7e7e7 !important;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #2c2c2c;
    }
  }
  .ant-table-thead {
    .ant-table-cell {
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 20px;
      color: #2c2c2c;
      border: 1px solid #d5d3d0;
    }
  
    .ant-table-cell::before {
      display: none !important;
    }
  }
  .ant-pagination {
    .ant-table-pagination{
            display: none;
    }
  }
  .button-users{
      margin-top: 4rem;
      display: flex;
      align-items: center;
      justify-content: space-around;
  }
  .sibar-left{
    background: #dddce1;
  }