.form-manage-ticket{
    margin-top: 20px;
    width: 100%;
    min-width: 1000px;
    padding: 20px;
    .box-form-code{
        margin-top: 2rem;
        display: flex;
        gap:  0 20px;
    }
}
.form-ticket{
    display: flex;
    gap: 0 20px;
}
.ant-table {
    background: #ffffff;
    border-radius: 8px 8px 8px 8px;
    border: 1px solid #d5d3d0;
    .ant-table-tbody > tr > td {
      border: 1px solid #e7e7e7 !important;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #2c2c2c;
    }
  }
  .ant-table-thead {
    .ant-table-cell {
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 20px;
      color: #2c2c2c;
      border: 1px solid #d5d3d0;
    }
  
    .ant-table-cell::before {
      display: none !important;
    }
  }