.title{
    font-size: 28px;
    font-weight: bold;
    line-height: 32px;
    border-bottom: 1px solid black;
    width: 200px;
    margin-bottom: 20px;
    text-transform: uppercase;
    margin-top: 4rem
    
}
.searchs{
    margin-top: 60px;
}
.ant-input-group{
    .ant-input{
        border: 1px solid black !important; 
      }
}
.box-form-news{
    margin-top: 60px;
    .content-news{
        font-size: 16px;
        font-weight: bold;

    }
    .form-news{
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 0 16px;
        .new{
            color: #1890ff;
            border-bottom: #1890ff 1px solid;
        }
       
    }
}