.box-content-introduce{
    
   background-color: #73b7c2;
   padding: 6rem;
   border-radius: 10px;
    .title-content{
        text-align: center;
        font-size: 48px;
        font-weight: 700;  
        color: #fff; 
    }
}
.content-title-introduce{
    color: #555;
    font-size: 16px;
    border-bottom: 1px solid #cbd3db;
    padding-bottom: 15px;
    margin-bottom: 15px;
    text-transform: uppercase;
    margin-top: 50px;
}
.people{
    font-weight: 700;
}
.btn-yellow{
    color: #555;
    background: #ffea00;
    border: 1px solid #ffd21f;
    text-align: center;
  
    border-radius: 4px;
}