.footer {
  background: #191c24;
}

.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 20px;
  padding-bottom: 50px;
}

.text-reset {
  text-align: left !important;
}

.p-4 {
  background: #28303d;
  border: none;
}

.footer-image {
  color: white;
}

.footer-image:hover {
  color: white;
}
/*# sourceMappingURL=footer.css.map */