.footer{
 background: #191c24;
}
.footer-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 20px;
    padding-bottom: 50px;
}
.text-reset{    
    text-align: left !important;
}
.p-4{
    background: #28303d;
    border: none    ;
}
.footer-image{
    color: white;
    &:hover{
      color: white;
    }
}