.box-form-code{
    margin-top: 2rem;
    display: flex;
    gap:  0 20px;
}
.time-booking{
    display: flex;
    gap: 0 8px;
}
.phone-booking{
    display: flex;
    gap: 0 8px;
}
.seat-booking{
    display: flex;
    gap: 0 8px;
}
.pre-name-booking{
    display: flex;
    gap: 0 8px;
}
.date-booking{
    display: flex;
    gap: 0 8px;
}
.title{
    font-weight: bold;
    color: black;
}
.information{
    display: flex;
    gap: 0 8px;
}
.type-air{
    display: flex;
    gap: 0 8px;
}