.box-manage-flight {
  display: flex;
  width: 100%;
  .box-manage-flight-content {
    margin-top: 20px;
    width: 100%;
    padding: 20px;
  }
}

.ant-table-pagination.ant-pagination {
  // display: none;
}

.ant-table {
  background: #ffffff;
  border-radius: 8px 8px 8px 8px;
  border: 1px solid #d5d3d0;
  .ant-table-tbody > tr > td {
    border: 1px solid #e7e7e7 !important;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #2c2c2c;
  }
}
.ant-table-thead {
  .ant-table-cell {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #2c2c2c;
    border: 1px solid #d5d3d0;
  }

  .ant-table-cell::before {
    display: none !important;
  }
}
.ant-spin-container {
  background: #ffffff;
}
.ant-pagination-disabled .ant-pagination-item-link,
.ant-pagination-disabled:hover .ant-pagination-item-link {
  border: none;
}
.wrapper-action {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 13px;
  .wrap-icon {
    cursor: pointer;
    width: 23px;
    border-radius: 50%;
    background: #f0f0f0;
    text-align: center;
  }
}
.ant-modal-content{
margin-top: 4rem;
}
.ant-picker-now-btn{
  display: none;
}
.button_add{
  margin-right: 4px;
}