.box-search {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0 10px;
  .box-search-from {
    .input-search {
      &-content {
      }
    }
  }
}
.search-title {
  font-size: 26px;
  line-height: 34px;
  margin: 23px 0;
}
.form-control {
  height: 48px;
  padding: 1.375rem 1.75rem;
  border-radius: 4px !important;
  font-size: 14px !important;
  color: #333 !important;
  font-weight: normal !important;
  background-image: none !important;
}
.form-control-date{
  border: none !important;
  border-bottom: #d1d1cf 2px solid !important;
  border-radius: 4px !important;
  width: 100%;
}
input[type="text"] {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #72757b;
}
.box-search-from-content {
  margin-bottom: 10px;
}
.input-search {
  position: relative;
  .down-arrow {
    position: absolute;
    right: 15px;
    top: 35%;
  }
}
.nav-box-list {
  margin-top: 23px;
  display: grid;
  grid-template-columns: repeat(4 ,1fr);
  gap: 20px;
  .box-list {
    width: 100%;
    
  }
  .list {
    border-radius: 0px;
    border: 1px solid #ada598;
    box-shadow: none;
    background-color: #fff !important;
    .image-list {
      width: 100%;
      object-fit: cover;
    }
    .box-content-list {
      display: flex;
      flex-direction: column;
      padding: 20px 15px;
      .buy-now {
        box-shadow: none;
        border: none;
        border-radius: 4px;
        height: 48px;
        background: #dba510;
        margin-top: 10px;
        transition: all 0.3s;
        &:hover {
          color: #dba510;
          background: #fff;
          border: 1px solid #dba510;
        }
      }
      .top {
        float: left;
        .content-list {
          font-weight: bolder;
          font-size: 16px;
          color: #000;
          line-height: normal;
        }
        .time-start {
          font-size: 14px !important;
          color: #333;
          text-transform: none;
          line-height: 1.5;
          letter-spacing: normal;
        }
      }
      .bot {
        text-align: end;
        .for {
          font-size: 14px !important;
          color: #333;
          text-transform: none;
          line-height: 1.5;
          letter-spacing: normal;
        }
        .time-watched {
          font-size: 14px !important;
          color: #333;
          text-transform: none;
          line-height: 1.5;
          letter-spacing: normal;
        }
        .status {
          font-size: 14px !important;
          color: #333;
          text-transform: none;
          line-height: 1.5;
          letter-spacing: normal;
        }
        .price {
          font-weight: normal !important;
          height: 20px !important;
          color: #ce9938 !important;
        }
      }
    }
  }
}
.box-bnt-see {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 23px 0;
  .bnt-see {
    box-shadow: none;
    border: solid 1px #dba510;
    border-radius: 4px;
    height: 48px;
    background: #fff;
    color: #dba510;
    padding: 10px 20px;
    &:hover {
      background: #dba510;
      color: white;
    }
  }
}
.nav-box-outstanding {
  .content-title {
    font-size: 30px;
    padding: 5px;
    border-left: 12px #1b95b8 solid;
  }
}
.box-outstanding {
  position: relative;
  border-radius: 8px !important;
  margin: 10px 0;
  padding: 0 10px;
  .box-title {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 10px;
    .title {
      font-size: 22px;
      color: #fff;
      margin-bottom: 10px;
    }
    .bnt-discover {
      font-size: 13px;
      border: 1px solid #fff;
      width: 150px;
      height: 40px;
      line-height: 38px;
      text-transform: uppercase;
      text-align: center;
      color: #fff;
      display: inline-block;
      border-radius: 5px;
      background: none;
    }
  }
}
.list-box-outstanding {
}
.nav-box-news {
  margin: 40px 0;
  
  .content-news {
    width: 100%;
    color: #006885;
    font-size: 30px;
    text-align: center;
    display: inline-block;
    margin: 0;
    line-height: 30px;
    font-weight: 400;
    margin-bottom: 20px
  }
}
.box-news {
  
    padding: 0 5px;
  
  .box-conent-news {
    padding: 10px 15px;
    background-color: #dcf2f8;
    .content-news-in {
      color: #006c98;
      font-size: 20px;
      font-weight: 400;
      text-align: left;
      height: 45px;
    }
    .time-news {
      color: #333;
      font-size: 13px;
      text-align: left;
    }
  }
}
.list-box-outstanding{
    
}