.contact-field {
  
  text-align: center;
  background-color: #f6f7f6;
  padding: 4rem;
  border-radius: 10px;
 
}
.title-contact{
    color: #0057b7;
    font-size: 38px;
  }
  .box-contact-us{
      display: flex;
      border-radius: 10px;
      background-color: #f6f7f6;
      gap: 0 20px;
      margin-top: 5rem;
      margin-bottom: 5rem;
      padding: 20px;
      .box-contact-us-left{
          width: 100%;
          padding: 4rem;
         
          .title{
              font-size: 28px;
              font-weight: 700;
              margin-bottom: 10px;
          }
          .btn_contact{
              padding:10px;
              border-radius: 10px;
              margin-top: 20px;
          }
      }
      .box-contact-us-right{
          width: 50%;
      }
  }