.nav-flight-section {
  width: 100%;
  background: #f6f7f6;
  padding-bottom: 20px;
  .title-content {
    color: #005f6e;
    padding-top: 30px;
    margin: 0 20px;
  }
  .note-box {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin:0 20px;
    .title {
      margin: 2px 0;
    }
  }
}
.box-filter {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 20px 10px;
  border-radius: 10px;
  margin: 50px 20px 0 20px;
  .box-filter-left {
    display: flex;
    margin-left: 20px;
    gap: 0 10px;
    align-items: center;
    .title-filter {
      font-size: 22px;
      color: #248afd;
    }
    .result {
      font-size: 20px;
    }
  }
  .box-filter-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 20px;
    margin-right: 10px;
    .bnt-section-1 {
      font-size: 26px;
      font-weight: 500;
      color: black;
      text-transform: uppercase;
      background-color: #005f6e;
      padding: 20px 50px;
      border: none;
      border-radius: 10px;
    }
    .bnt-section {
      text-transform: uppercase;
      font-size: 26px;
      font-weight: 500;
      color: #fff;
      background-color: #ffc300;
      padding: 20px 50px;
      border: none;
      border-radius: 10px;
    }
  }
}
.time-and {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 20px;
  .time {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    color: #005f6e;
  }
}
.nav-box-content-section {
  background: #fff;
  padding: 10px 20px;
  border: 1px solid black;
  margin: 24px 20px 0px 20px;
}
.box-content-section {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  border: 1px solid black;
  padding: 20px;
  margin-bottom: 20px;
  .box-content-section-right {
  display: flex;
  gap: 0 20px;
 
    .trader {
      border-radius: 10px;
      padding: 10px;
      border: 1px solid #005f6e;

      .title {
        text-align: center;
      }
      .price {
        font-size: 20px;
        color: #005f6e;
        font-weight: 400;
        text-align: center;
        margin: 20px 50px;
      }
      .side-chair {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .bnt-reservations{
          border-radius: 4px;
          background-color: red;
        }
      }
    }
    .common {
      border-radius: 10px;
      padding: 10px;
      border: 1px solid #005f6e;

      .title {
        text-align: center;
      }
      .price {
        font-size: 20px;
        color: #005f6e;
        font-weight: 400;
        text-align: center;
        margin: 20px 50px;
      }
      .side-chair {
        display: flex;
        justify-content: space-between;
      }
    }
  }
  .box-content-section-left {
    .time-all {
      display: flex;
      gap: 0 10px;
      p {
        font-size: 18px;
        font-weight: bold;
      }
    }
    .detail-button {
      font-size: 18px;
      font-weight: 400;
      color: #248afd;
    }
    .journeys {
      display: flex;
      align-items: center;
      gap: 0 10px;
      margin-bottom: 20px;
      .time-go {
        font-size: 20px;
        font-weight: bold;
        color: #005f6e;
      }
      .dress {
        font-size: 20px;
      }
    }
  }
}
.box-section {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 24px 20px;
  .box-section-in {
    width: 100%;  
    background: #fff;
    border: #005f6e 1px solid;
    border-radius: 10px;
    padding: 20px;
  
    .time-box-section {
      font-weight: 400;
      text-align: center;
      font-size: 18px;
      color: black;
    }
    .price-box-section {
      font-size: 18px;
      color: #005f6e;
      font-weight: 400;
      text-align: center;
      &:active{
     color: white;
        
    }
    }
  }
}
.box-content-section-center{
display: flex;
gap: 0 20px;
}
.title-p{
  margin: 10px 20px;
}
.detail{
  background: #f4f9f5;
  padding: 24px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
  .time-go{
    display: flex;
    gap:8px;
    .air{
      color: #000;
      font-size: 1rem;
      font-weight: bold;
    }
  
  }
  .airlinecompany{
    display: flex;
    gap:8px;
    .air{
      color: #000;
      font-size: 1rem;
      font-weight: bold;
    }
  }
  .airtype{
    display: flex;
    gap:8px;
    .air{
      color: #000;
      font-size: 1rem;
      font-weight: bold;
    }
  }
  .content-top-detail{
    display: flex;
    font-weight: 700;
    font-size: 1.333rem;
    color: #000;
    .city{
      margin-left: 10px;
    }
  }
}